main 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 65vh;

    form 
    {
        margin-top: 50px;
        background: #29c2f1;
        border-radius: 50px;
        box-shadow: 13px 11px 28px 0px rgb(169 89 151 / 69%);
        width: 300px;
        padding: 15px 10px;

        .form-group 
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px; 

            label
            {
                color: #ffd400;
                font-weight: 600;
                margin: 15px 0px;
            }
            
            button
            {
                color: black;
                background: none;
                border: none;
                text-decoration: underline;
                text-underline-position: under;
                font-size: 15px;
                margin: 0px 0px 9px 162px;
            }

            input
            {
                border-radius: 10px;
                width: 225px;
                color: rgb(50, 47, 47);
                text-align: center;
            };
        };

        .action-buttons
        {
            display: flex;
            justify-content: space-around;
            margin: 35px 0px 25px 0px;
            
            button
            {
                color: #ffd400;
                font-weight: 600;
                border-radius: 15px;
                padding: 5px 10px;
                background: #0040ff;

                &:disabled{
                    background: gray
                }
            }
        }
    };    
}
