.page_presentation 
{
  display: flex;
  align-items: center;
  flex-direction: column;
  
  h2
  {
    margin: 30px 24px 50px;
    text-align: center;
  }  

  #subjects 
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;

    li 
    {
      margin-bottom: 40px;
    }
  }
}


