<main class="page_presentation">
  <h2>Veuillez choisir votre thème :</h2>
  <ul id="subjects">
    <li><a [routerLink]="['/accueil', 'three-dimensional']">3D</a></li>
    <li><a [routerLink]="['/accueil', 'programming']" >Programmation</a></li>
    <li><a [routerLink]="['/accueil', 'web-three']" >Web3</a></li>
    <li><a [routerLink]="['/accueil', 'english']" >Anglais</a></li>
    <li><a [routerLink]="['/accueil', 'ia']" >IA</a></li>
    <li><a [routerLink]="['/accueil', 'stock-exchange']" >Bourse</a></li>
  </ul>
</main>