// Style header
header {
  background: linear-gradient(
    to bottom,
    rgb(144 222 255) 0%,
    rgb(41, 184, 229) 34%,
    rgb(41, 184, 229) 66%,
    #ffeb3b 100%
  );
  text-align: center;
  padding: 32px 0px;
}
