.page_presentation {
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    margin: 50px 0px;
  }
}

@media screen and (max-width: 800px) {
  .page_presentation {
    h1 {
      margin: 70px 0px 40px;
    }
  }
}
