<main class="page_presentation">
  <h2>Veuillez choisir votre thème :</h2>
  <ul id="subjects">
    <li><a routerLink="/accueil/three-dimensional" (click)="onDisplayCategory(0)">3D</a></li>
    <li><a routerLink="/accueil/programming" (click)="onDisplayCategory(1)">Programmation</a></li>
    <li><a routerLink="/accueil/web-three" (click)="onDisplayCategory(2)">Web3</a></li>
    <li><a routerLink="/accueil/english" (click)="onDisplayCategory(3)">Anglais</a></li>
    <li><a routerLink="/accueil/ia" (click)="onDisplayCategory(4)">IA</a></li>
    <li><a routerLink="/accueil/stock-exchange" (click)="onDisplayCategory(5)">Bourse</a></li>
  </ul>
</main>