/* You can add global styles to this file, and also import other style files */
@import "normalize.css";

* {
  font-family: Roboto, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: "Nerko none", cursive, Helvetica, sans-serif;
  margin: 0px;
}
