main
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #circle
    {
        border: solid #3fb6db;
        padding: 59px 115px;
        border-radius: 173px;

        #stalk
        {
            border: solid #3fb6db;
        }

        p 
        {
            font-size: 100px;
            color: #3fb6db;
        }
    }

    .message 
    {
        text-align: center;
        margin-top: 35px;
        font-size: 20px;
    }

    a
    {
        margin-top: 65px;
        border: solid gray;
        background: #f3b72f;
        padding: 10px;
    }
}